<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pharmacy</title>
  
  <!-- =============== STYLES ===============-->
  <!-- Google fonts for icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">

  <!-- =============== Main Styles ===============-->
  <link href="{{ url_for('static', path='styles/components/sidebar.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', path='styles/general.css') }}" rel="stylesheet" type="text/css" />
  
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
  <div class="container">

    <!-- Sidebar -->
    <aside class="sidebar">
      <!-- Sidebar header -->
      <header class="sidebar-header">
        <a>EMR Clinic</a>
      </header>

      <nav class="sidebar-nav">
        <ul class="nav-list primary-nav">
          <!-- Dashboard -->
          <li class="nav-item">
            <a href="{{ url_for('home') }}" class="nav-link">
              <i class="fas fa-house-chimney"></i> 
            <span class="nav-label">Dashboard</span>
          </a>
          <span class="nav-tooltip">Dashboard</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('patientPage') }}" class="nav-link">
              <i class="fas fa-user-plus"></i> 
            <span class="nav-label">Patient</span>
          </a>
          <span class="nav-tooltip">Patient</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('admissionPage') }}" class="nav-link">
              <i class="fas fa-bed"></i> 
            <span class="nav-label">Admission</span>
          </a>
          <span class="nav-tooltip">Admission</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('appointmentsPage') }}" class="nav-link">
              <i class="fas fa-laptop-medical"></i> 
            <span class="nav-label">Appointments</span>
          </a>
          <span class="nav-tooltip">Appointments</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('billingsPage') }}" class="nav-link">
              <i class="fas fa-credit-card"></i> 
            <span class="nav-label">Billings</span>
          </a>
          <span class="nav-tooltip">Billings</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('labordersPage') }}" class="nav-link">
              <i class="fas fa-flask"></i> 
            <span class="nav-label">Lab Orders</span>
          </a>
          <span class="nav-tooltip">Lab Orders</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('radiologyPage') }}" class="nav-link">
              <i class="fas fa-radiation"></i> 
            <span class="nav-label">Radiology Orders</span>
          </a>
          <span class="nav-tooltip">Radiology Orders</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('pharmacyPage') }}" class="nav-link" style="background: #78a8cc;">
              <i class="fas fa-briefcase-medical"></i> 
            <span class="nav-label">Pharmacy</span>
          </a>
          <span class="nav-tooltip">Pharmacy</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('statisticsPage') }}" class="nav-link">
              <i class="fas fa-chart-bar"></i> 
            <span class="nav-label">Statistics</span>
          </a>
          <span class="nav-tooltip">Statistics</span>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('rootPage') }}" class="nav-link">
              <i class="fas fa-brain"></i> 
            <span class="nav-label">Root</span>
          </a>
          <span class="nav-tooltip">Root</span>
          </li>
        </ul>
      </nav>
    </aside> <!-- Sidebar -->

    
    <!-- Main Content -->
    <main class="main">
      <div class="profile-div">
        Any User
      </div>

      <!-- Dashboard -->
      <div class="page-title">
        <header class="header">
          <h1>Pharmacy</h1>
          <div class="search-user">
            <input type="text" placeholder="Search by name, number or ID" />
          </div>
        </header>
      </div>

      <div class="dashboardd">
        </div> <!-- Dashboard -->
      </div> <!-- Main Content Div -->
    </main>

    

  </div>
</body>
</html>

